
{% extends 'base.html' %}
{% block content %}
      
      <button class="button button6"> Create Recipe.</button>
    <div>
       <h3>How to prepare Coffee.</h3>
      <button class="button button5"> Update.</button>
        <button class="button button5"> Delete.</button>  
        <ol>
          <li>Add coffee and  hotwater</li><br>
          <li>Stir the mix for 5 seconds</li><br>
          <li>Finished making coffee</li><br>
          <li>Yummy.... tasty coffee</li><br>
        </ol>
      </div>

      <div>
        <h3>How to Milk coffe Tea.</h3>
        <button class="button button5"> Update.</button>
        <button class="button button5"> Delete.</button> 
        <ol>
            <li>Add coffee and  hotwater</li><br>
            <li>Gently pour milk into the mix</li><br>
            <li>Stir the mix for 5 seconds</li><br>
            <li>Finished making coffee</li><br>
            <li>Yummy.... tasty coffee</li><br>
          </ol>
        </div>

{% endblock %}


