
{% extends 'base.html' %}
{% block content %}
<div class="container">
        
<h2>Login Form</h2>
{% for message in get_flashed_messages() %}
<div class=flash>{{ message }}</div>
{% endfor %}

<form action="{{url_for('login')}}" method="POST">
    <label><b>Email</b></label><br><br>
    <input type="email" placeholder="Enter Username" name="email" required>
    <br><br>
    <label><b>Password</b></label><br><br>
    <input type="password" placeholder="Enter Password" name="password" required>
    <br><br>
    
    <input type="checkbox" checked="checked"> Remember me
    <br><br>
    <button style="float:left" class="button button1"><input type="submit" value="Login"></button>
    <button style="float:right" class="button button1"><input type="submit" value="Signup"></button> 

</form>
</div>
{% if error %}
    <p><strong>Error:</strong>{{rrror}}</p>
{% endif %}


{% endblock %}