
{% extends 'base.html' %}
{% block content %}

<div class="container">   
<h2>Signup Form</h2>
<form action="{{url_for('signup')}}" method="POST">
    <label><b>Username</b></label>
  <input type="text" placeholder="Enter username" name="name" required>

    <label><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <input type="checkbox" checked="checked"> Agree with terms and conditions
    <br><br>
    <button style="float:left" class="button button1"> <input type="submit" value="Signup"></button> 
  </form>
    
</div>

  {% endblock %}

